<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <character-sheet
       v-if="character.defined === false"
    ></character-sheet>
    <template v-if="character.defined">
      <game-map v-if="map.length > 0"
      ></game-map>
    </template>
  </div>
</template>

<script>
import CharacterSheet from '../character-sheet/CharacterSheet.vue'
import GameMap from '../game-map/GameMap.vue'
import store from '../../store.js'
import 'whatwg-fetch'

export default {
  name: 'PaddockMaster',
  computed: {
    character () {
      return store.state.character
    },
    map () {
      return store.state.map
    },
  },
  data () {
    return {
      msg: 'Welcome to Paddock Master',
      keyMapping: {
        ArrowDown: [1, 0],
        ArrowUp: [-1, 0],
        ArrowLeft: [0, -1],
        ArrowRight: [0, 1],
      },
    }
  },
  mounted () {
    // global key handlers
    window.addEventListener('keydown', e => {
      if (e.key.indexOf('Arrow') === 0) {
        store.commit('move', this.keyMapping[e.key])
      }
    })

    // get map from server
    fetch('http://localhost:3000/maps/', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => response.json())
      .then(json => store.commit('setMap', json[0].mapGrid))
      .catch(error => console.error(error))
  },
  components: {
    'character-sheet': CharacterSheet,
    'game-map': GameMap,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
