<template>
  <div class="character-sheet">
    <h1>Character</h1>
    <form>
      Name: <input id="char-name" type="text" name="charactername" v-model="character.name"><br>
      <button id="char-start" type="button" v-on:click="handleStartClick">Start Game</button>
    </form>
  </div>
</template>

<script>
import store from '../../store.js'

export default {
  name: 'CharacterSheet',
  data () {
    return {
      character: {
        name: 'Adventurer',
        defined: true,
        pos: [5, 5],
      }
    }
  },
  methods: {
    handleStartClick () {
      store.commit('setCharacter', this.character)
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
