<template>
  <div class="map-tile">
    {{ mapIcon }}
  </div>
</template>

<script>
import store from '../../store.js'

export default {
  name: 'MapTile',
  data () {
    return {
    }
  },
  props: [
    'row',
    'column',
  ],
  methods: {
    objectHere (object) {
      if (object.pos[0] === this.row - 1 && object.pos[1] === this.column - 1) {
        return true
      }
    }
  },
  computed: {
    mapIcon () {
      if (store.state.character && store.state.character.pos && store.state.character.pos[0] === this.row - 1 && store.state.character.pos[1] === this.column - 1) {
        return 'O'
      }
      if (store.state.monsters.some(this.objectHere)) {
        return '*'
      }
      return store.state.map[this.row - 1][this.column - 1]
    }
  },
}
</script>

<style scoped>
.map-tile {
  text-align: center;
}
</style>
