<template>
  <div class="game-map">
    <div class="grid-container">
      <template v-for="row in 10">
        <map-tile
          v-for="column in 10"
          :column="column"
          :row="row"
          :key="column + '.' + row"
       ></map-tile>
      </template>
    </div>
  </div>
</template>

<script>
import MapTile from '../map-tile/MapTile.vue'

export default {
  name: 'GameMap',
  components: {
    'map-tile': MapTile,
  },
}
</script>

<style scoped>
.game-map {
  font-family: monospace;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 10px);
}
.map-grid {
  text-align: center;
}
</style>
